.custom-alert {
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-background-color: #DAF7A6;
}

.custom-alert .content.label {
    -fx-text-fill: black;
}

#green-button {
    -fx-background-color: 
        #8BC34A,
        linear-gradient(#aed581 0%, #8bc34a 20%, #689f38 100%),
        linear-gradient(#9ccc65, #7cb342),
        radial-gradient(center 50% 0%, radius 100%, rgba(85,140,35,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5, 4, 3, 5;
    -fx-background-insets: 0, 1, 2, 0;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

#green-button Text {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 0.0, 0, 1);
}

